{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Editing•••</h1>
    <form action="{% url 'main:update' post.id %}" method="post">
        {%csrf_token%}
        <p>제목 : <input type="text" name="title" value="{{post.title}}"></p>
        <p>작성자 : <input type="text" name="writer" value="{{post.writer}}"></p>
        <p>좋아하는동물 : <input type="text" name="fanname" value="{{post.fanname}}"></p>
        <p>내용 : <textarea name="body" id="" cols="30" rows="10" >{{post.body}}</textarea></p>
        <p>new🖼️! <input type="file" name="image"> previous🖼️! {{post.image}}</p>
        <button type="submit">완료</button>
    </form>
</div>
{% endblock %}