{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{post.title}}</h1>
번호 : {{post.post_num}}
작성자 : {{post.writer}}
날짜 : {{post.pub_date}}
좋아하는동물 : {{post.fanname}}

<hr>
{% if post.image %}
    <p><img src="{{ post.image.url }}" alt="🖼️"></p>
{% endif %}


{% if post.writer == user %}
<p>{{post.body}}</p>
<a href = "{% url 'main:edit' post.id %}">수정</a>
<a href = "{% url 'main:delete' post.id %}">삭제</a>
<p> 태그👽 {{post.hashtag}}</p>
{% endif %}



{% if post.writer == user %}
<a href = "{% url 'main:edit' post.id %}">수정하기</a>
<a href = "{% url 'main:delete' post.id %}">삭제하기</a>
{% endif %}
<div class="comment_container">
    <div class="comment_form">
        <h2>댓글쓰기</h2>
        <form method="POST" action="{% url 'main:detail' post.id %}">
            {% csrf_token %}
            <input type="text" name="content">
            <input type="submit" name="submit">
        </form>
    </div>
    <div class="comment_list">
        {% for c in comments %}
        <hr>
        <h4>작성자 : {{c.writer}}</h4>
        <p>내용 : {{c.content}}</p>
        <p>{{c.pub_date}}</p>
        <a href = "{% url 'main:delete_comment' c.id %}">삭제하기</a>
        {% endfor %}
    </div>
</div>
{% endblock %}



