{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Editing•••</h1>
    <form enctype="{% url 'main:update' post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>제목 : <input type="text" name="title" value="{{post.title}}"></p>
        {% comment %} <p>작성자 : <input type="text" name="writer" value="{{post.writer}}"></p> {% endcomment %}
        <p>좋아하는동물 : <input type="text" name="fanname" value="{{post.fanname}}"></p>
        <p>내용 : <textarea name="body" id="" cols="30" rows="10">{{post.body}}</textarea></p>
        {% if post.image %}
        <p>previous🖼️! <img src="{{post.image.url}}" alt="이전 이미지"></p>
        {% endif %}
        <p>new🖼️! <input type="file" name="image"></p>
        <button type="submit">완료</button>
    </form>
</div>
{% endblock %}
